.global-btn {
  width: 173px;
  padding: 13px 0;
  font-size: 14px;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
}
